{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django crud aplication</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>

        {% if user.is_authenticated %}
          <li>
            <a href="/ingresos">Ingresos</a>
          </li>
          <li>
            <a href="/ingresos">Egresos</a>
          </li>
          <li>
            <a href="/logout">Salir</a>
          </li>
        {% else %}
          <li>
            <a href="/signup">Registrarse</a>
          </li>
          <li>
            <a href="/signin">Iniciar sesión</a>
          </li>
          <tr></tr>
        {% endif %}
      </ul>
    </nav>
    {% block content %}

    {% endblock %}
    <!-- Agrega esto antes de cerrar la etiqueta </body> -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </body>
</html>
