.menu .logo{
	border-radius: 45px;
	position: absolute;
	left: 250px;
    border-image: 10px;
}

.btn-m{

    background: #321f4e;
    border-radius: 5px;
    height: 40px;
    align-items: center;
    font-size: 20px;
    color: antiquewhite;
    text-align: center;
    

}

.btn-m:hover{
    background:  #433772;
    color: antiquewhite;
}

.card{
    background-color: #171a1f;
}