/* styles.css */

/* Aplica un estilo al formulario */
form {
    max-width: 400px;
    margin: auto;
}

  /* Estilo para las etiquetas de los selects */
label {
    display: block;
    margin-bottom: 5px;
}
  
  /* Estilo para los selects */
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
  /* Estilo para el botón de enviar */
input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type="submit"]:hover {
    background-color: #45a049;
}


.form-container {
  display: flex;
  justify-content: space-between;
}

.form-wrapper,
.additional-form {
  width: 48%; /* Ajusta según tus necesidades */
}